<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>首页</title>
</head>
<body>

<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            console.log(str);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    };
    GetRequest();
</script>
<p>
<h1>session的一致性问题</h1>
</p>
<p>
    session创建于端口：${pageContext.request.localPort}
    <br>
    <br>
    处理请求的tomcat端口为： ${pageContext.request.localPort}
</p>
<form action="/buy">
    <button type="submit">购买</button>
</form>
<form action="/logout">
    <button type="submit">退出</button>
</form>
</body>
</html>